<div class="jumbotron">
  <h1 class="center">Issued books</h1>
  <table class="table table-bordered table-hover table-responsive">
    <thead>
    <tr>
      <th>Isbn</th>
      <th>Name</th>
      <th>Author</th>
      <th>Available Copies</th>
      <th>User name</th>
      <th>User Email</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @issued_books.each do |book| %>
        <tr>
          <th scope="row"><%= book.book.isbn %></th>
          <td><%= book.book.name %></td>
          <td><%= book.book.author %></td>
          <td><%= book.book.available_copies %></td>
          <td><%= book.user.name %></td>
          <td><%= book.user.email %></td>
          <td><%= link_to 'Show', book.book %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>