<% provide(:title, 'Issue a book') %>
<h1>Issue a book:</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@issued_book) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :user_id, "User ID:" %>
        <%= f.text_field :user_id, class: 'form-control' %>

        <%= f.label :book_id, "Book ID:" %>
        <%= f.text_field :book_id, class: 'form-control' %>

        <%= f.submit "Check and issue the book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
