<div class="jumbotron">
  <h1 class="center">All Users of library</h1>
  <table class="table table-bordered table-hover table-responsive">
    <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>User type</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><% if user.user_type == "A" %>
                Admin
            <% elsif user.user_type == "N" %>
                Normal
            <% else %>
                Other
            <% end %></td>
          <td><%= link_to 'Show', user %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>