<h1><%= @user.name %></h1>
<div class="jumbotron row">
  <h3 class="center h3">User details:</h3>
  <table class="table center table-bordered table-hover table-striped col-md-8">
    <tbody>
    <tr>
      <th scope="row" class="col-md-4">User ID</th>
      <td class="col-md-4"><%= @user.id %></td>
    </tr>
    <tr>
      <th scope="row">Name:</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th scope="row">email:</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th scope="row">User type:</th>
      <td><%= @user.user_type %></td>
    </tr>
    </tbody>
  </table>
</div>