<div class="jumbotron">
  <h1 class="center">All Books in library</h1>
  <table class="table table-bordered table-hover table-responsive">
    <thead>
    <tr>
      <th>Isbn</th>
      <th>Name</th>
      <th>Author</th>
      <th>Available Copies</th>
      <th>Total Copies</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @books.each do |book| %>
        <tr>
          <th scope="row"><%= book.isbn %></th>
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= book.available_copies %></td>
          <td><%= book.total_copies %></td>
          <td><%= link_to 'Show', book %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>