<% provide(:title, 'Add new book') %>
<h1>Add a new book:</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@book) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :isbn, "ISBN" %>
        <%= f.text_field :isbn, class: 'form-control' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :author %>
        <%= f.text_field :author, class: 'form-control' %>

        <%= f.label :total_copies, "Copies" %>
        <%= f.text_field :total_copies, class: 'form-control' %>

        <%= f.submit "Add the book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
