<h1><%= @book.name %></h1>
<div class="jumbotron row">
  <h3 class="center h3">Book details:</h3>
  <table class="table center table-bordered table-hover table-striped col-4">
    <tbody>
        <tr>
          <th scope="row">ISBN:</th>
          <td><%= @book.isbn %></td>
        </tr>
        <tr>
          <th scope="row">Title:</th>
          <td><%= @book.name %></td>
        </tr>
        <tr>
          <th scope="row">Author:</th>
          <td><%= @book.author %></td>
        </tr>
        <tr>
          <th scope="row">Available copies:</th>
          <td><%= @book.available_copies %></td>
        </tr>
        <tr>
          <th scope="row">Total copies:</th>
          <td><%= @book.total_copies %></td>
        </tr>
    </tbody>
  </table>
</div>
