<footer class="footer">
  <small>
    A <a href="https://snkshukla-lib.herokuapp.com">library management application </a>
    by <a href="http://www.michaelhartl.com/">Shubham Shukla</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
