<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Library Management", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Books <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Show all books", books_show_path %></li>
              <li><%= link_to "Show available books", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Add a new book", addbook_path %>
                <%= link_to "Issue a book", issue_book_path %>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Add new user", '#' %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
